# Books (Core)
- Coire Gavin-Hanner
- 9/22/22

# Imports

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pandas as pd
import numpy as np

# Part 1: Design an ERD
- for a database that stores users, books, and the favorite books fo users (see data.csv)
<img src=books.png>

# Part 2: Create the Database in Python
- Note: this will not be exactly the same database as the one I designed above

In [2]:
connection = "mysql+pymysql://root:$PWD@localhost/books"

In [8]:
engine = create_engine(connection)

In [3]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

In [5]:
books_db = pd.read_csv('Data/books.csv')
authors_db = pd.read_csv('Data/authors.csv')
fav_db = pd.read_csv('Data/favorites.csv')
users_db = pd.read_csv('Data/users.csv')

In [11]:
books_db.to_sql('books', engine, if_exists = 'replace')
authors_db.to_sql('authors', engine, if_exists = 'replace')
fav_db.to_sql('favorites', engine, if_exists = 'replace')
users_db.to_sql('users', engine, if_exists = 'replace')

3

## Testing the Database

In [12]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [15]:
# List the titles of John Doe's favorite books
q = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

# Part 3: Exporting and Committing